<!DOCTYPE html>
<html>
<head>
	<title>MyBook</title>
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>

</head>
<body>
	<div class="all">

		<div class="container manu">
			<div class="exespotlightmenu">
				<div class="zz">
					<h4><<<<<<<<<<<<<<<<<</h4>
				</div>
				<div class="z">
					<h4>>>>>>>>>>>>>>>>>></h4>
				</div>
				<ul>
					<li><a href="##########"><exespan>Головна</exespan></a></li>
					<li><a href="##########"><exespan>Про блог</exespan></a></li>
					<li><a href="##########"><exespan>Карта</exespan></a></li>
					<li><a href="##########"><exespan>Архiв</exespan></a></li>
					<li><a href="##########"><exespan>Контакти</exespan></a></li>
				</ul>
			</div>
			

			<div class="container">
				<ul class="block-menu">
					<li><a href="<%= posts_path %>" class="three-d">
						Головна
						<span class="three-d-box"><span class="front">Головна</span><span class="back">Головна</span></span>
					</a></li>
					<li><a href="###" class="three-d">
						Про блог<span class="three-d-box"><span class="front">Про блог</span><span class="back">Про блог</span></span>
					</a></li>
					<li><a href="###" class="three-d">
						Послуги
						<span class="three-d-box"><span class="front">Послуги</span><span class="back">Послуги</span></span>
					</a></li>
					<li><a href="###" class="three-d">
						Карта
						<span class="three-d-box"><span class="front">Карта</span><span class="back">Карта</span></span>
					</a></li>
					<li><a href="###" class="three-d">
						Архiв
						<span class="three-d-box"><span class="front">Архiв</span><span class="back">Архiв</span></span>
					</a></li>
					<li class="xx"><%= link_to 'нова стаття', new_post_path, class: 'button2' %></li>
				</ul>
			</div>
		</div>

		<div class="container main">
			<div class="row">
				<div class="col-md-12">
					<% flash.each do |name, message| %>
					<div class="aletr alert-cuccess">
						<%= message %>
					</div>
					<% end %>
				</div>
			</div>
			<%= yield %>
		</div>

		<div class="container footer">
			<p class="footer1">нашi контакти: +38(097)xxx-xx-xx |
				e-mail: name@yandex.ua </p>
		</div>

</div>	
	</body>
	</html>
